.wrapper{
    width: 500px;
    color: white;
    @media (max-width: 525px) {
        width: 100%;
    }

    .item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: gray;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
        h5{
            margin: 0;
        }
    }
}