body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    p {
        margin: 0;
    }

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.App {
    background-color: #3E3E3E;
    min-height: 100vh;
}